@model BugReport

<page-layout title="Zgłoszenie #@Model.Id" title-icon="fa-bug">
	<div class="row">
		<div class="col">
			<div class="card bugreport">
				<div class="card-header list-group list-group-horizontal">
					<div class="list-group-item flex-grow-1">
						@Model.Profile.ProfileName()
					</div>
					<div class="list-group-item">
						@Model.DateCreated.CultureDateTime()
					</div>
					<div class="list-group-item">
						<form asp-action="ChangeStatus" asp-controller="BugReports" method="post">
							<input type="hidden" value="@Model.Id" name="BugReportId">
							<input type="submit" id="status-submit" style="display: none;">
							@Html.FormSelectFor(p => p.Status, "status-select")
						</form>
					</div>
				</div>

				<div class="card-body">
					@Html.DisplayFor(p => p.Description)
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h4>
				<icon name="fa-comment" />
				Dyskusja
			</h4>
		</div>
	</div>

	<div class="row">
		<div class="col d-flex flex-column gap-2">
			@foreach (var comment in Model.Comments)
			{
				<partial name="_BugReportComment" model="@comment" />
			}
		</div>
	</div>

	<div class="row">
		<div class="col">
			@if (Model.Commentable)
			{

				<form class="container d-flex flex-column gap-2" asp-action="CreateComment" asp-controller="BugReports"
					method="post">
					<input type="hidden" name="BugReportId" value="@Model.Id">
					<div class="row">
						<div class="col">
							<div class="form-floating">
								<textarea id="comment-input" class="form-control" placeholder="Komentarz" name="Content"></textarea>
								<label for="comment-input">Komentarz</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col text-end">
							<button class="btn btn-primary">Dodaj komentarz</button>
						</div>
					</div>
				</form>
			}
			else
			{
				<div class="alert alert-info">
					Zgłoszenie jest zamknięte, nie można go już komentować.
				</div>
			}
		</div>
	</div>
</page-layout>

<style>
	#comment-input {
		height: 120px;
	}

	.bugreport .card-header {
		padding: 0;
		border: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.bugreport .list-group-item {
		border-radius: 0;
		border-bottom-left-radius: 0 !important;
		border-left: 0;
		border-bottom-right-radius: 0;
	}

	.bugreport .list-group-item:last-child {
		border-right: 0;
	}
</style>

@section Scripts {
	<script>
		document.getElementById('status-select').addEventListener('change', e => {
			document.getElementById('status-submit').click()
		})
	</script>
}
