@using SystemZarzadzaniaSchroniskiem.Controllers
@model ResetPasswordInputModel

@{
  ViewData["Title"] = "Resetowanie hasła";
}

<page-layout title="@ViewData["Title"]" title-icon="fa-key">
  <div class="row">
    <div class="col">
      <form method="post">
        @Html.HiddenFor(p => p.UserId)
        @Html.HiddenFor(p => p.Code)

        <div class="container d-flex flex-column gap-2">
          <div class="row">
            <div class="col">
              @Html.FormInputFor(p => p.Password, "password")
            </div>
          </div>

          <div class="row">
            <div class="col">
              @Html.FormInputFor(p => p.ConfirmPassword, "password")
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button class="btn btn-primary d-flex flex-row gap-2 align-items-center">
                <i class="fas fa-check"></i>
                Zatwierdź
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</page-layout>
