@model Event

<div class="row">
  <div class="col">
    @Html.FormInputFor(p => p.Name)
  </div>
</div>
<div class="row">
  <div class="col">
    @Html.FormInputFor(p => p.StartDate, "datetime-local")
  </div>
  <div class="col">
    @Html.FormInputFor(p => p.EndDate, "datetime-local")
  </div>
</div>
<div class="row">
  <div class="col">
    @Html.FormInputFor(p => p.Location)
  </div>
  <div class="col">
    <div class="input-group">
      <span class="input-group-text">
        @Html.DisplayNameFor(p => p.CoordinatorProfile)
      </span>
      <select class="form-control" asp-for="CoordinatorProfileId">
        @foreach (UserProfile profile in ViewBag.StaffProfiles)
        {
          <option value="@profile.Id">
            @profile.ProfileName("{F} {l} ({e})")
          </option>
        }
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-floating">
      <textarea placeholder="@Html.DisplayNameFor(p => p.Description)" class="form-control" asp-for="Description"
        style="height: 200px;"></textarea>
      <label asp-for="Description">
        @Html.DisplayNameFor(p => p.Description)
      </label>
    </div>
  </div>
</div>
