@model IEnumerable<SystemZarzadzaniaSchroniskiem.Models.Pet>
@using System.Globalization
@using SystemZarzadzaniaSchroniskiem.Helpers

@{
	var culture = CultureInfo.CreateSpecificCulture("pl-PL");
}


<div asp-validation-summary="All" class="text-danger"></div>

<ul class="list-group" id="pets-list">
	@foreach (var pet in Model)
	{
		<li class="list-group-item pet-list-item">
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
						@pet.Species.Icon()
						&nbsp;
						@if (pet.Gender == Gender.Male)
						{
							<icon name="fa-mars" />
						}
						else
						{
							<icon name="fa-venus" />
						}
						@Html.DisplayFor(_ => pet.Name)
					</div>

					<div class="col-lg-2">
						<small class="badge pet-status-badge pet-status-@pet.AdoptionStatus">
							@Html.DisplayFor(_ => pet.AdoptionStatus)
						</small>
					</div>

					<div class="col-lg-3">
						@Html.DisplayFor(_ => pet.Breed.Name),
						@pet.Age.NumberSuffix("rok", "lata", "lat")

					</div>

					<div class="col-lg-3">
						@pet.OwnerProfile?.FirstName
						@pet.OwnerProfile?.LastName
						@pet.OwnerProfile?.User.Email

					</div>

					<div class="col-lg-2 d-flex justify-content-end" style="gap: 10px;">
						<button class="btn btn-outline-secondary btn-sm pet-collapse-btn" data-bs-toggle="collapse"
							data-bs-target="#collapse-@pet.Id" aria-expanded="false">
							<i class="fas pet-collapse-icon"></i>

							<span class="pet-collapse-text">Szczegóły</span>
						</button>

						<div class="dropdown text-end">
							<button class="btn btn-sm btn-primary dropdown-toggle" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Akcje
							</button>

							<ul class="dropdown-menu">
								<a class="dropdown-item" href="@Url.Action("HealthRecords", "Pets", new { Id = @pet.Id })"
									data-bs-toggle="tooltip" data-bs-title="Przeglądaj kartotekę medyczną" data-bs-placement="left">
									<icon name="fa-heart-pulse" />
									Kartoteka
								</a>

								<a class="dropdown-item" href="@Url.Action("AssignOwner", "Pets", new { PetId = @pet.Id })">
									<icon name="fa-user-plus" />
									Nadaj opiekuna
								</a>

								<a class="dropdown-item " href="@Url.Action("Edit", "Pets", new { Id = pet.Id })">
									<icon name="fa-pencil" />
									Edytuj
								</a>

								<a class="dropdown-item " href="@Url.Action("DeleteConfirmation", "Pets", new { Id = @pet.Id })">
									<icon name="fa-xmark" />
									Usuń
								</a>
							</ul>
						</div>
					</div>

					<div class="row collapse p-4" id="collapse-@pet.Id">
						<partial name="_PetDetails" model="@pet" />
					</div>
				</div>
		</li>
	}
</ul>


<style>
	.pet-collapse-btn[aria-expanded=false] {
		.pet-collapse-icon::before {
			content: "\f078"
		}
	}

	.pet-collapse-btn[aria-expanded="true"] {
		.pet-collapse-icon::before {
			content: "\f077"
		}
	}

	.fa-mars {
		color: var(--sc-blue);
	}

	.fa-venus {
		color: deeppink;
	}
</style>
