@model Pet

@{
    ViewData["Title"] = "Dodawanie zwierzęcia";
}

<page-layout title="@ViewData["Title"]" title-icon="fa-circle-plus">
    <form asp-controller="Pets" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="row mt-4 d-flex gap-2">
            <div class="row">
                <div class="col-lg-2">
                    @Html.FormInputFor(p => p.Name)
                </div>

                <div class="col-lg-2">
                    @Html.FormInputFor(p => p.Weight)
                </div>

                <div class="col-lg-2">
                    @Html.FormSelectFor(p => p.Gender)
                </div>

                <div class="col-lg-2">
                    @Html.FormSelectFor(p => p.Species, "species-input")
                </div>

                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-text">Rasa</span>
                        <input class="form-control @Html.InvalidClassNameFor(p => p.BreedId)" id="breed-query"
                            type="text" autocomplete="off" name="BreedName" value="@ViewBag.BreedName">
                        <input type="hidden" asp-for="BreedId" id="breed-input" value="0">
                    </div>
                    <div class="dropdown">
                        <ul class="dropdown-menu" id="breed-dropdown"></ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    @Html.FormSelectFor(p => p.AdoptionStatus)
                </div>

                <div class="col-lg-4">
                    @Html.FormInputFor(p => p.AdmissionDate, "datetime-local")
                </div>

                <div class="col-lg-4">
                    @Html.FormInputFor(p => p.BirthDate, "date")
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <textarea class="form-control" placeholder="Opis zwierzęcia"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 d-flex justify-content-end">
                    <div class="input-group">
                        <input class="form-control" type="file" name="Image" asp-for="FileUpload">
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-end">
                    <button class="btn btn-primary d-flex justify-content-between align-items-center gap-2">
                        <i class="fas fa-check"></i>
                        Dodaj
                    </button>
                </div>
            </div>
        </div>
    </form>
</page-layout>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/PetsForm.css")">

@section Scripts {
    <script src="@Url.Content("~/js/PetsForm.js")"></script>
}
